<%- include('header') %>

<h1>Hello EJS!</h1>
<p>Learning EJS - Effective JavaScript Templating</p>

<p>
   <%= Math.random() %>
</p>
<p>
   <div id="root"><%- content %></div>
</p>

<%- include('footer') %>